/* src/index.css */
body {
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  margin: 20px 0;
}
