#nav{
    display: flex;
    list-style-type: none;
}
nav{
    text-decoration: none;
}
a{
    text-decoration: none;
    margin: 17px;
    border: solid 1px #ccc;
    color: black; 
    padding: 12px; 
    border-radius: 6px;
    background-color:  #4474c2;
}
ul{
    margin-left: 890px;

}
table, tr, td, caption {
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
    border-radius: 4px;
}
#main{
    padding: 10px;
}
#head{
    border-radius: 4px;
}
#body{
    font-family: Roboto, sans-serif;
}
.form{
    border: solid 1px black;
    border-radius: 3px;
    width: 40%;
    padding: 15px;
}
.form input{
    border: solid 1px;
    border-radius: 3px;
    padding: 10px;
    width: 60%;
}
h2,h1{
    color: #4474c2;
}
#home{
    background-color: #d1e3ff;
    padding: 50px 470px 50px 40px;
    text-align: left;
    line-height: 20px;
    display: flex; 
    justify-content: space-between; 
    border-radius: 4px;
}
#words{
    font-size: larger;
    line-height: 40px;
}
#home>img{
    margin-left: 160px;
    border-radius: 4px;
}
#Work{
    background-color: #d1e3ff;
    padding: 90px;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
}
#service{
    margin-right: 350px;
    line-height: 50px;
}
#Work>img{
    margin-right: 670px;
    margin-top: 250px;
}
#pictures{
    display: flex;
}
#about{
    margin: 4px;
}
#Contact{
    background-color: #d1e3ff;
    padding: 15px;
    border-radius:4px;
    margin-top: 40px;
}
#Contact input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 60%;
}
button{
    padding: 10px;
    background-color: #4474c2;
    border-radius: 4px;
}
#Resume{
    line-height: 20px;
    margin-left: 5px;
}